<web-app>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>ru.job4j.userservlets.CreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ru.job4j.userservlets.UpdateServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.userservlets.DeleteServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>